<section class="showall">
  <div class="grey-background">
    <div>

      <div class="facedates" ng-repeat="(makeupId, makeup) in makeupListCtrl.makeup">
        <div class="faces">
          <a href="/#/{{makeupId}}"><img src="{{makeup.fotdImage[0]}}"></a>
        </div>
        <div class="dates">
          <!-- <p class="date">
            moment([makeup.date]).fromNow();
          </p> -->
          <p class="date">{{makeup.date | moment:'fromNow' }}</p>
        </div>
      </div>
    </div>

  </div>
</div>
</section>
