<section class="fotd">
  <div class="grey-background">

      <img class="show-img" ng-src="{{makeupListCtrl.selectedMakeup.fotdImage[0]}}"/>

    <div class="show-date ">
      {{makeupListCtrl.selectedMakeup.date | date}}
    </div>
    <button class="edit" ng-click="makeupListCtrl.removeMakeup(makeupId)">Delete</button>
    <div class="row list-row" data-equalizer>
      <ul class="makeup-list large-3 small-8 medium-4 column" ng-repeat="(productId, product) in makeupListCtrl.selectedMakeup.products">
        <li>
          <h5>Brand:</h5> {{product.brand}}
        </li>
        <li>
          <h5>Product:</h5> {{product.productName}}
        </li>
        <li>
          <h5>Color:</h5> {{product.color}}
        </li>
      </ul>

  </div>

  </div>

</section>
