<section>


  <div class" row">
    <video id="video"></video>
    <canvas id="canvas"></canvas>
    <img id="photo" style='display:none'/>
  </div>
  <div class="row">
    <button ng-click="makeupCtrl.takePhoto()" class="takePic button">TAKE PHOTO</button>

  </div>


  <form class="makeupForm"  ng-submit="makeupCtrl.addMakeupInfo()">
  <div class="thumbnail">
    <img ng-hide="makeupCtrl.files" src="http://www.placehold.it/200x150/EFEFEF/AAAAAA&amp;text=no+image">
    <img ng-show="makeupCtrl.files[0].dataUrl" ng-src="{{makeupCtrl.files[0].dataUrl}}">
  </div>

    <input  type="file"
    ng-model="makeupCtrl.files"
    ng-file-select
    ng-file-change="makeupCtrl.fileSelected()"
    accept="image/*">



<fieldset class="large-4 medium-4 column ">

    <div class="row">
        <label>Brand
          <input type="text" ng-model="makeupCtrl.newMakeup.brand">
        </label>

    </div>

    <div class="row">
      <label> Product Name
        <input  type="text" ng-model="makeupCtrl.newMakeup.productName">
      </label>
    </div>

    <div class="row">
      <label>Color
        <input  type="text" ng-model="makeupCtrl.newMakeup.color">
      </label>
    </div>

</fieldset>

<fieldset class="large-4 medium-4 column">

  <div class="row">
    <label>Brand
      <input type="text" ng-model="makeupCtrl.newMakeup.brand">
    </label>

  </div>

  <div class="row">
    <label> Product Name
      <input  type="text" ng-model="makeupCtrl.newMakeup.productName">
    </label>
  </div>

  <div class="row">
    <label>Color
      <input  type="text" ng-model="makeupCtrl.newMakeup.color">
    </label>
  </div>

</fieldset>




    <!-- <div class="row">
      <div class="large-5 columns" >
        <button ng-click="" class="button addMakeup">ADD ANOTHER PRODUCT</button>
      </div>
    </div> -->
    <div class="row">
      <input type="submit" class="button addMakeup"></button>
    </div>

    </form >
    </div>



</section>
