
<webcam >
<button class="btn btn-info" ng-click="makeSnapshot()">
  <i class="fa fa-camera-retro"></i> Take Photo</button>

<button class="btn btn-success" ng-click="sendSnapshotToFb()">Save Photo</button>

<canvas id="photo"></canvas>

<accordian>
  <form class="form-horizontal">
      <label class="col-sm-2 control-label">Brand</label>
    <div class="col-sm-10 form-group">
      <input class="form-control" type="text" ng-model="makeupCtrl.newMakeup.brand">
    </div >

      <label class="col-sm-2 control-label">Product Name</label>
    <div class="col-sm-10 form-group">
      <input class="form-control" type="text" ng-model="makeupCtrl.newMakeup.productName">
    </div>

      <label class="col-sm-2 control-label">Color</label>
    <div class="col-sm-10 form-group">
      <input class="form-control" type="text" ng-model="makeupCtrl.newMakeup.color">
    </div>
    <button  class="btn btn-primary" ng-click="makeupCtrl.addMakeupInfo()">Add Makeup</button>
  </form>

</accordian>
