section.login {
  background: url(../images/girl_img.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
  position: absolute;
  width: 100%;
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #d9d628;
}

section.fotd, section.showall {
  background: url(../images/triangles2000.jpg) center center fixed;
  background-repeat: repeat-y;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 1000%;
  position: absolute;
  width: 100%;
}

.grey-background {
  background-color: #3E3A40;
  text-align: center;
  margin: 78px auto 0;
  max-width: 1100px;
}

.webcamContainer, .imageContainer {
  margin-top:16px;
  position:relative;
}
.webcamContainer::after {
  content: "OR";
  position: absolute;
  right: -24px;
  top: 100px;
  font-size: 36px;
}

.webcamContainer video {
  width:320px;
  height:240px;
  background: #535055;
}

.webcamContainer canvas {
  position: relative;
  top: -16px;
  margin-top: -240px;
}

/*
.loggedinBkgrnd {
  background: url(../images/purple-triangles.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}

.loginBkgrnd {
  background: url(../images/girl_img.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}*/

label {
  color: #fff;
}


nav.top-bar {
  background-color: #29252B;
  color: #d9d628;
  height: 78px;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 9999;
  margin-bottom: 100px
}

.logo {
  max-width: 100px;
  margin: 10px;
  margin-right: 20px;
}

label {
  color: #F9F5E8;
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
  text-align: left;
}

.loginform {
  background-color: #3b032f;
  margin-top: 75px;
  padding: 20px;
  border-radius: 5px;

}
.tagline {
  color: #F9F5E8;
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
  font-style: italic;
  font-size: 20px;
  margin: 30px 0 0 25px;

}
.button {
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding: 8px;
  background-color:#48414c;
  color: #FFF;

}

.top-bar .logout {
  color: #D9D64A;
  padding: 10px;
  display: inline;
  border-radius: 3px;
  margin-top: -5px;
  margin: 5px;

}

.upload-img-preview {
  max-width: 320px;
}


.imageUpload {
  color:#fff;
  background: #9E1380;
  position: relative;
  overflow: hidden;
  margin:18px 10px;
  display: inline-block;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  white-space: nowrap;
  padding: 10px 25px;
  font-size: 14px;
  line-height: 1.42857143;
  border-radius: 3px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  transition: all 300ms ease-in-out;
  -webkit-transition: all 300ms ease-in-out;
}

.imageUpload:hover {
  background: #A72A8C;
}

.imageUpload span{
  text-transform: uppercase;
}

.imageUpload input.upload {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
  font-size: 20px;
  cursor: pointer;
  opacity: 0;
  filter: alpha(opacity=0);
}

.pickFile, .takePic, input.addMakeup {
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  border-radius: 3px;
  background-color: #9E1380;
  font-size: 13px;
  text-transform: uppercase;
  height: 40px;
  padding: 10px 25px;
  text-align: center;
}

input.addMakeup {
  background: #D9D64A;
  color: #29252b;
  height: auto;
  padding: 13px 50px;
  font-size: 16px;
}


input.addMakeup:hover, .takePic:hover, .pickFile:hover {
background-color: #A72A8C;
}

input[type="file"]{
}


.thumbnail {
  margin: 0 auto;
  max-width:650px;
}

.makeupForm.row {
  display: table;
  width: 100%;
  max-width: 62.5em;
}

/* hover color on button lighter fuschia #A72A8C*/

/* CSS Document */
/* ---------- FONTAWESOME ---------- */
/* ---------- http://fortawesome.github.com/Font-Awesome/ ---------- */
/* ---------- http://weloveiconfonts.com/ ---------- */
@import url(http://weloveiconfonts.com/api/?family=fontawesome);
/* ---------- ERIC MEYER'S RESET CSS ---------- */
/* ---------- http://meyerweb.com/eric/tools/css/reset/ ---------- */
@import url(http://meyerweb.com/eric/tools/css/reset/reset.css);
/* ---------- FONTAWESOME ---------- */

}

/* ---------- GENERAL ---------- */
* {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*:before, *:after {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  color: #606468;
  font: 1em/1em "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;;
  margin: 0;
  /*background: #3E3A40;*/
}


input {
  border: none;
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.5em;
  padding: 0;
  -webkit-appearance: none;
}

p {
  line-height: 1.5em;
}

.clearfix {
  *zoom: 1;
}
.clearfix:before, .clearfix:after {
  content: ' ';
  display: table;
}
.clearfix:after {
  clear: both;
}

.container {
  left: 50%;
  position: fixed;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

/* ---------- LOGIN ---------- */
#login {
  width: 280px;
}

#login form span {
  background-color: #3E3A40;
  border-radius: 3px 0px 0px 3px;
  color: #BFC1C2;
  display: block;
  float: left;
  height: 50px;
  line-height: 50px;
  text-align: center;
  width: 50px;
}

#login form input {
  height: 50px;
}

#login form input[type="text"], #login form input[type="password"] {
  background-color: #4A484C;
  border-radius: 0px 3px 3px 0px;
  color: #F9F5E8;
  margin-bottom: 1em;
  padding: 0 16px;
  width: 230px;
  border-color: #4D4B4D;
}

#login form input[type="submit"], #login form div.register-button {
  border-radius: 3px;
  font-size: 15px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  background-color: #9E1380;
  color: black;
  font-weight: bold;
  margin-bottom: 1em;
  text-transform: uppercase;
  width: 280px;
  transition: all 300ms ease-in-out;
  -webkit-transition: all 300ms ease-in-out;
}

#login form div.register-button {
  height: 50px;
  text-align: center;
  padding-top: 15px;
  transition: all 300ms ease-in-out;
  -webkit-transition: all 300ms ease-in-out;
  cursor: pointer;
}

div.forgot-pw {
  float: right;
  padding: 0 0 10px;
  transition: all 300ms ease-in-out;
  -webkit-transition: all 300ms ease-in-out;
}
div.forgot-pw:hover {
  color: #A72A8C;
  cursor: pointer;

}

#login form input[type="submit"]:hover {
  background-color: #e748c5;
}

#login form div.register-button:hover {
  background-color: #e748c5;
}

#login > p {
  text-align: center;
}

#login > p span {
  padding-left: 5px;
}

fieldset, .fotd fieldset .panel {
  border: none;
  margin: 20px;
  background-color: #29252B;

}
.fotd fieldset {
  background: none;
  padding: 0;
  margin: 0;
}

/* ShowAll Image Grid */
.faces {
  display:inline-block;
  position: relative;
  width: 200px;
  height: 200px;
  overflow: hidden;
}
div.faces {
  margin: 10px;

}

.faces img {
  position: absolute;
  left: 50%;
  top: 50%;
  height: auto;
  width: 100%;
  -webkit-transform: translate(-50%,-50%) scale(1.5);
  -ms-transform: translate(-50%,-50%) scale(1.5);
  transform: translate(-50%,-50%) scale(1.5);
}
